.cointeinerCard {
  display: flex;
  align-items: center;
  width: 900px;
  height: 700px;
  background-color: rgba(26, 110, 5, 0.74);
  border-radius: 102px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 16px 10px 10px;
}
.h1 {
    color: #d8d6d2d3;
    font-family: cursive;
  }
.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

  .descrip {
    font-size: 16px;
    margin: 20px 20px 20px 80px;
    font-family: cursive;
    line-height: 1.8;
    color: #f0e7e7;
    margin-top: -10%;
    }
  
  
  .card { 
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 250px;
    height: 490px;
    padding: 5% 5% 5% 5%;
    border-radius: 3rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 12%;
    margin-top: -30%;
    background-color:#09ce096b;
  }
  .card members {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 20px 0 rgba(240, 236, 236, 0.2);

  }
  
  .card img {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 300px;
    border-radius: 1rem;
    margin-top: 8%;
  }
  
  .card h2 {
    flex-direction: row;
    font-size: 27px;
    margin: 10px 0;
    color: #e9e0e0;
  }
  
  .card p {
    flex-direction: row;
    font-size: 17px;
    margin: 10px 0;
    text-align: center;
    color: #e9e0e0;
  }
  
  .socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  
  .socialLinks a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 30px;
    height: 20px;
    color: #333;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .socialLinks img{
    width: 160px;
    height: 30px;
  }

  .conteinerIcono {
    display: block;
    margin-bottom: -8%;
  }

  .img {
    display: inline;
    width: 60px;
    height: 60px;
    border-radius: 15%;
    margin-left: 6%;
    margin-top: 1%;
    box-shadow: 2px 2px 5px rgba(250, 247, 247, 0.671);
  }

  .img2 {
    width: 120px;
    height: 70px;
    margin: 10px 2% 8% 2% 2%;
    border-radius: 15%;
    margin-left: 25%;
  
    box-shadow: 2px 2px 5px rgba(250, 247, 247, 0.671);
  }
  
  @media only screen and (max-width: 1024px) {
   .card{
      width: 200px;
      height: 515px; 
    }
  }
  
  @media (max-width: 768px) {
    .img {
      width: 50px;
      height: 50px;
      margin-left: 12rem;
      margin-top: .1rem;
    }
    
    .img2 {
      width: 80px;
      height: 50px;
      margin-left: 12rem;
      margin-top: .1rem;
    }
  }
  

